@page "/Product/EditProduct/{id:int}"
@inherits ProductBase
@inject NavigationManager navigationManager

@if (product == null)
{
    <h3>Loading....</h3>
}
else
{
    <h3>
        Edit Product
    </h3>
    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind="@product.ProductName" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary"@onclick="UpdateProduct"> Save</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel"> Cancel</button>
                </div>
            </div>
        </div>
    </form>
}

@code
{
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProductById(id);
    }
    private async Task UpdateProduct()
    {
        if (!string.IsNullOrWhiteSpace(product.ProductName))
        {
            //await ProductService.Update(Product);
            //Product.Name = string.Empty;
            navigationManager.NavigateTo("/Product/ProductList");
        }
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/Product/ProductList");
    }
}
