@page "/Product/ProductList"
@inherits ProductBase
@inject NavigationManager navigationManager

<div>
    <a class="btn btn-primary" href='/Product/AddProduct'>Add New Data</a>
</div>
@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    int i = 1;
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:1%">SL</th>
                <th>Product</th>
                <th style="text-align:right; width: 10%">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Products == null || Products.Count() == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            else
            {
                foreach (var product in Products)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@product.ProductName</td>
                        <td style="text-align:right">
                            <button class="btn btn-primary" @onclick="@(() => NavigateToEditProduct(product.ProductId))">Edit</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetProducts();
    }
    private void NavigateToEditProduct(int id)
    {
        navigationManager.NavigateTo($"/Product/EditProduct/{id}");
    }
}

