@page "/SalesOrder/EditSalesOrder/{id:int}"
@inherits SalesOrderBase
@inject NavigationManager navigationManager

@if (SalesOrder == null)
{
    <h3>Loading....</h3>
}
else
{
    <h3>
        Edit SalesOrder
    </h3>
    <form>
       @* <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind="@SalesOrder.SalesOrderName" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary"@onclick="UpdateSalesOrder"> Save</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel"> Cancel</button>
                </div>
            </div>
        </div>*@
    </form>
}

@code
{
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SalesOrder = await SalesOrderService.GetSalesOrderById(id);
    }
    private async Task UpdateSalesOrder()
    {
        if (true)
        {
            //await SalesOrderService.Update(SalesOrder);
            //SalesOrder.Name = string.Empty;
            navigationManager.NavigateTo("/SalesOrder/SalesOrderList");
        }
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/SalesOrder/SalesOrderList");
    }
}
