@page "/SalesOrder/SalesOrderList"
@inherits SalesOrderBase
@inject NavigationManager navigationManager

<div>
    <a class="btn btn-primary" href='/SalesOrder/AddSalesOrder'>Add New Data</a>
</div>
@if (SalesOrders.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    int i = 1;
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th style="width:1%">SL</th>
                <th>Building</th>
                <th>State</th>
                <th style="text-align:right; width: 10%">
                    Action
                </th>
            </tr>
        </tbody>
        <tbody>
            @foreach (var salesOrder in SalesOrders)
            {
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @salesOrder.BuildingName
                    </td>
                    <td>
                        @salesOrder.StateName
                    </td>
                    <td style="text-align:right">
                        <button class="btn btn-primary" @onclick="@(() => NavigateToEditSalesOrder(salesOrder.SalesOrderId))">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        SalesOrders = await SalesOrderService.GetSalesOrders();
    }
    private void NavigateToEditSalesOrder(long id)
    {
        navigationManager.NavigateTo($"/SalesOrder/EditSalesOrder/{id}");
    }
}

