@page "/State/AddState"
@inherits StateBase
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

<h5 class="alert-danger" style="text-align:center">
    @message
</h5>


<h3>
    Add State
</h3>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@state.Name" onfocus="this.value=''" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="CreateState">Save</button>
                <button type="button" class="btn btn-warning" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</form>


@code {

    private async Task CreateState()
    {
        if (!string.IsNullOrWhiteSpace(state.Name))
        {
            if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to save state?"))
                return;
            var result = await StateService.Create(state);
            if (result)
            {
                navigationManager.NavigateTo("/State/StateList");
            }
            else
            {
                message = "error in storing data";
            }
        }
        else
        {
            message = "please check input";
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("/State/StateList");
    }
}

