@page "/State/StateList"
@inherits StateBase
@inject NavigationManager NavigationManager

<div>
    <a class="btn btn-primary" href='/State/AddState'>Add New Data</a>
</div>
@if (States == null)
{
    <p><em>Loading...</em></p>
}
else
{
    int i = 1;
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:1%">SL</th>
                <th>State</th>
                <th style="text-align:right; width: 10%">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (States == null || States.Count() == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            else
            {
                foreach (var state in States)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@state.Name</td>
                        <td style="text-align:right">
                            <button class="btn btn-primary" @onclick="@(() => NavigateToEditState(state.StateId))">Edit</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        States = await StateService.GetStates();
    }
    private void NavigateToEditState(int id)
    {
        NavigationManager.NavigateTo($"/State/EditState/{id}");
    }
}

