@page "/Building/EditBuilding/{id:int}"
@inherits BuildingBase
@inject NavigationManager navigationManager
@using SalesOderManagement.Web.Services.Contracts
@inject IJSRuntime JSRuntime

<PageTitle>Edit Building</PageTitle>

<h5 class="alert-danger" style="text-align:center">
    @message
</h5>

@if (building == null)
{
    <h3>Loading....</h3>
}
else
{
    <h3>
        Edit Building
    </h3>
    <form>
        <div class="row">
           
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name" class="control-label">State</label>
                    <select for="State" class="form-control" @bind="@building.StateId">
                        <option value="0">--select state--</option>
                        @foreach (var state in States)
                        {
                            <option value="@state.StateId">@state.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind="@building.Name" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="UpdateBuilding"> Update</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel"> Cancel</button>
                </div>
            </div>
        </div>
    </form>
}

@code
{
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        States = await StateService.GetStates();
        building = await BuildingService.GetBuildingById(id);
    }
    async Task UpdateBuilding()
    {
        if (!string.IsNullOrWhiteSpace(building.Name))
        {
            if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to update building info?"))
                return;
            var result = await BuildingService.Update(building);
            if (result)
            {
                navigationManager.NavigateTo("/Building/BuildingList");
            }
            else
            {
                message = "error in updating data";
            }
        }
        else
        {
            message = "please check input";
        }
    }
    void Cancel()
    {
        navigationManager.NavigateTo("/Building/BuildingList");
    }
}
