@page "/Dimension/AddDimension"
@inherits DimensionBase
@inject NavigationManager navigationManager

<h3>
    Add Dimension
</h3>
<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name" class="control-label">Width</label>
                <input for="Name" class="form-control" @bind="@dimension.Width" onfocus="this.value=''" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name" class="control-label">Height</label>
                <input for="Name" class="form-control" @bind="@dimension.Height" onfocus="this.value=''" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="CreateDimension">Save</button>
                <button type="button" class="btn btn-warning" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</form>


@code {

    private async Task CreateDimension()
    {
        if (!string.IsNullOrWhiteSpace(dimension.Width) && !string.IsNullOrWhiteSpace(dimension.Height))
        {
            await DimensionService.Create(dimension);
            if (true)
            {
                clear();
                navigationManager.NavigateTo("/Dimension/DimensionList");
            }
        }
    }
    private void clear()
    {
        dimension.Width = string.Empty;
        dimension.Height = string.Empty;
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/Dimension/DimensionList");
    }
}

