@page "/Dimension/EditDimension/{id:int}"
@inherits DimensionBase
@inject NavigationManager navigationManager

@if (dimension == null)
{
    <h3>Loading....</h3>
}
else
{
    <h3>
        Edit Dimension
    </h3>
    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name" class="control-label">Width</label>
                    <input for="Name" class="form-control" @bind="@dimension.Width" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Name" class="control-label">Height</label>
                    <input for="Name" class="form-control" @bind="@dimension.Height" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="UpdateDimension"> Update</button>
                    <button type="button" class="btn btn-warning" @onclick="Cancel"> Cancel</button>
                </div>
            </div>
        </div>
    </form>
}

@code
{
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dimension = await DimensionService.GetDimensionById(id);
    }
    private async Task UpdateDimension()
    {
       
            await DimensionService.Update(dimension);
            if (true)
            {
                clear();
                navigationManager.NavigateTo("/Dimension/DimensionList");
            }
    }
    private void clear()
    {
        dimension.Width = string.Empty;
        dimension.Height = string.Empty;
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/Dimension/DimensionList");
    }
}
