@page "/Building"
@inherits BuildingBase

@if (Buildings == null)
{
    <h3>Loading....</h3>
}
else
{
    int i = 1;
    <div>
    <input type="text" @bind="name" placeholder="building name" />
    <button class="btn-primary btn-sm" @onclick="addItem">Add</button>

    <table class="table-bordered">
        <tr>
            <th>SL</th>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Buildings)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <button class="btn-primary btn-sm">Edit</button>
                </td>
            </tr>
        }
    </table>
    </div>
}




