@page "/Building"
@inherits BuildingBase

@if (Buildings == null && States == null)
{
    <h3>Loading....</h3>
}
else
{
    int i = 1;
    <div>
        <div class="row">
            <div class="col-md-1">
                <b> State:</b>
            </div>
           @* <div class="col-md-4">
                <select class="form-control" @bind="stateId">
                    <option value="">-- Select State --</option>
                    @foreach (var state in States)
                    {
                        <option value="@state.StateId">@state.Name</option>
                    }
                </select>
            </div>*@
            <div class="col-md-1">
                <b> Name:</b>
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" @bind="name" placeholder="building name" />
            </div>
            <div class="col-md-1">
                <button class="btn-primary" @onclick="addItem">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <th>SL</th>
                        <th class="">
                            Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    @foreach (var item in Buildings)
                    {
                        <tr>
                            <td>
                                @(i++)
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <button class="btn-link">Edit</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}




