@page "/counter"

<h1>Client-Side Example</h1>

<p>Add or remove items from the list:</p>

<div class="row">
    <div class="col-md-6">
        <input type="text" class="form-control" @bind-value="@newItemText" />
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary" @onclick="AddItem">Add Item</button>
    </div>
</div>

<ul>
    @foreach (var item in items)
    {
        <li>@item <button class="btn btn-danger btn-sm" @onclick="() => DeleteItem(item)">Delete</button></li>
    }
</ul>

@code 
{
    private List<string> items = new List<string>();
    private string newItemText;

    protected override async Task OnInitializedAsync()
    {
        
    }
    private void AddItem()
    {
        if (!string.IsNullOrEmpty(newItemText))
        {
            items.Add(newItemText);
            newItemText = string.Empty;
        }
    }

    private void DeleteItem(string item)
    {
        items.Remove(item);
    }
}
